<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Weather Observer Demo System</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/addcity">Add City</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/cities">Observed Cities</a>
        </li>
      </ul>
    </div>
    <app-login></app-login>
  </div>
</nav>
<div style="padding: 24px 48px;">
  <router-outlet></router-outlet>
</div>